- const facebookLogo = `${data.serverHost}/static/images/social-facebook.png`;
- const twitterLogo = `${data.serverHost}/static/images/social-twitter.png`;
- const linkedinLogo = `${data.serverHost}/static/images/social-linkedin.png`;
- const instagramLogo = `${data.serverHost}/static/images/social-instagram.png`;
table.table-container(bgcolor='#f1f1f1' cellpadding='0' cellspacing='0' border='0' align='center' width='640' style='width: 640px; min-width: 640px;' role='presentation')
  tr
    td(height='35' style='line-height:35px;min-height:35px;')
table.social-icons(cellpadding='0' cellspacing='0' border='0' role='presentation' align='center' bgcolor='#f1f1f1')
  tr
    td(style='padding:0 10px 0 10px;')
      a(href='https://www.MailerSend.com/' target='_blank')
        img.social-icon(src=facebookLogo alt='Social Icons' width='30' height='30')
    td(style='padding:0 10px 0 10px;;')
      a(href='https://www.MailerSend.com/' target='_blank')
        img.social-icon(src=twitterLogo alt='Social Icons' width='30' height='30')
    td(style='padding:0 10px 0 10px;')
      a(href='https://www.MailerSend.com/' target='_blank')
        img.social-icon(src=linkedinLogo alt='Social Icons' width='30' height='30')
    td(style='padding:0 10px 0 10px;')
      a(href='https://www.MailerSend.com/' target='_blank')
        img.social-icon(src=instagramLogo alt='Social Icons' width='30' height='30')
table.table-container(bgcolor='#f1f1f1' cellpadding='0' cellspacing='0' border='0' align='center' width='640' style='width: 640px;' role='presentation')
  tr
    td(height='35' style='line-height:35px;min-height:35px;')
table.table-container(bgcolor='#f1f1f1' cellpadding='0' cellspacing='0' border='0' align='center' width='640' style='width: 640px;' role='presentation')
  tr
    td(style='color:#444444; font-size:14px; line-height:22px; text-align:center;border:none;font-weight:bold;')
      | Street Address, Town/City, State ZIP 
      br
      | &#x9;&#x9;&#x9;&#x9; &copy; 2021 Your Company, Inc.
      br
table.table-container(bgcolor='#f1f1f1' cellpadding='0' cellspacing='0' border='0' align='center' width='640' style='width: 640px;' role='presentation')
  tr
    td(height='35' style='line-height:35px;min-height:35px;')
